/* Define your custom styles here */
.hero.is-primary {
    background-color: black;
    height: 100vh; /* Set the height to 100% of the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .has-text-black {
    color: black;
  }
  
  .button.is-warning {
    background-color: yellow;
    color: black;
  }